* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

:root {
  --serif-font: "Lato", "serif";
  --primary: #272a31;
  --secondary: #ec5242;
  --secondary-dark: #cc4030;
  --secondary-darker: #9e2a1d;
  --nutral: #d3d3d3;
  --nutral-darker: #999;
  --text-color: #5b5b5b;
}

.upper-menu {
  display: none;
}

.menu {
  display: flex;
  padding: 1rem 1.5rem;
}

.logo {
  display: none;
}

.logo__slide-menu {
  display: flex;
}

.menu__list {
  display: none;
}

#slide_menu {
  display: flex;
  flex-direction: row;
  backdrop-filter: blur(5px);
  justify-content: space-between;
  align-items: flex-start;
  height: 161rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: -200rem;
  background: var(--secondary);
  transition: all 1000ms linear;
  padding-top: 4rem;
  padding-left: 2rem;
  mix-blend-mode: multiply;
}

#slide_menu.active {
  left: 0;
  pointer-events: auto;
}

.cls {
  position: absolute;
  top: 4rem;
  right: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 2.5rem;
  line-height: 1.25rem;
  color: #e5e5e5;
  text-decoration: none;
}

.hamburger-menu {
  display: flex;
  flex-direction: row;
  height: 2.5rem;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.25rem;
  margin: 1rem 1.5rem;
}

.menu__icon {
  position: absolute;
  top: 2rem;
  right: 2rem;
  transform: scale(1);
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  gap: 1rem;
}

.menu__topics {
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  text-decoration: none;
  color: #fff;
  list-style: none;
}

.menu__icon.active {
  left: 0;
  pointer-events: auto;
}

h1 {
  font-family: 'Cocogoose', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--secondary);
  margin-bottom: 1rem;
}

h2 {
  font-family: 'Cocogoose', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-color);
  padding: 1rem 0;
}

h3 {
  font-family: var(--serif-font);
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--primary);
}

h4 {
  font-family: var(--serif-font);
  font-size: 1rem;
  font-weight: bold;
  color: var(--primary);
}

h5 {
  font-family: var(--serif-font);
  font-size: 0.75rem;
  font-style: italic;
  color: var(--secondary);
}

h6 {
  font-family: var(--serif-font);
  font-size: 0.75rem;
  color: var(--primary);
  margin-top: 1rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  padding: 1rem;
  color: var(--sans-font);
}

footer h3 {
  font-family: var(--serif-font);
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--nutral-darker);
  margin-bottom: 1rem;
}

.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem 1rem 3rem 1rem;
}

.cover h3 {
  font-family: var(--serif-font);
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--secondary);
  text-align: start;
  margin: 2rem 0;
}

.cover p {
  font-family: var(--serif-font);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: normal;
  color: var(--primary);
  text-align: start;
  padding: 0.75rem;
}

.program {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  padding: 1rem;
  color: var(--sans-font);
}

.program h3 {
  font-family: var(--serif-font);
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

.event-fase {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 2rem 0;
}

.event-fase li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 5rem;
  color: #fff;
  background-color: #f7f7f71f;
  padding: 0.75rem;
  gap: 0.5rem;
}

.event-fase img {
  width: 20%;
  height: 100%;
  border-radius: 20%;
}

.event-fase li span {
  width: 20%;
  height: auto;
  font-family: var(--serif-font);
  font-size: 1rem;
  font-weight: bold;
  color: var(--secondary-dark);
}

.event-fase li p {
  width: 50%;
  height: auto;
  font-family: var(--serif-font);
  font-size: 0.75rem;
  font-weight: bold;
  margin: 0;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 4.5rem;
  color: #fff;
  background-color: var(--secondary-dark);
  margin: 2rem 0;
}

.btn-program {
  display: none;
}

.bands {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--d3d3d3);
  color: var(--sans-font);
  padding: 1rem;
}

.bands__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.bands ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.bands ul img {
  width: 32%;
  height: auto;
}

.bands ul div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 68%;
  padding: 0 1rem;
}

.sponsors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
}

.last-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  padding: 3rem 1rem;
}

.last-section li p {
  font-family: var(--serif-font);
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--primary);
}

/* About Section */
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 3rem 1rem;
  position: absolute;
  top: 0;
  left: -200rem;
}

.about h3 {
  font-family: var(--serif-font);
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--secondary);
  text-align: center;
  margin: 2rem 0;
}

.about p {
  font-family: var(--serif-font);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: normal;
  color: var(--primary);
  text-align: center;
  padding: 0.75rem;
}

.about__title {
  text-align: center;
  font-family: 'Cocogoose', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--secondary);
  margin-bottom: 1rem;
}

.about-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1.5rem;
}

.about-information__title {
  text-align: center;
  font-family: var(--serif-font);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary);
  margin-top: 1.5rem;
  padding: 0 1rem;
}

.about-information__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 3rem;
  margin: 2rem 0;
  border: 1px solid var(--nutral);
}

.about img {
  width: 100%;
  height: auto;
  padding: 1rem 0;
  backdrop-filter: blur(5px);
  mix-blend-mode: multiply;
}

small {
  text-align: center;
  width: 70%;
  height: auto;
  padding: 1rem;
  font-family: var(--serif-font);
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--primary);
}

.mail {
  font-family: var(--serif-font);
  font-size: 0.75rem;
  font-weight: bold;
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6rem;
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 1rem 10rem;
  }

  .upper-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 1.5rem;
    background-color: var(--primary);
    padding-right: 8rem;
  }

  .upper-menu__icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 3rem;
    height: 1.5rem;
    margin-right: 1.5rem;
  }

  .upper-menu__icons a {
    display: flex;
    align-items: center;
    width: auto;
    color: #fff;
    font-size: 1rem;
    padding: 0 0.5rem;
  }

  .upper-menu__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 15rem;
    height: 1.5rem;
    margin-left: 1rem;
  }

  .upper-menu__links a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 7rem;
    color: #fff;
    font-size: 1rem;
  }

  .hamburger-menu {
    display: none;
  }

  .logo {
    display: flex;
  }

  .menu__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 45rem;
    height: auto;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary);
    font-family: var(--serif-font);
  }

  .menu__list-item {
    display: flex;
    align-items: center;
    transition: 0.7s ease;
    color: #fff;
    font-family: var(--serif-font);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  h1 {
    font-size: 2.7rem;
  }

  .cover {
    padding: 7rem 9rem;
  }

  .cover h3 {
    font-size: 2rem;
  }

  .cover p {
    width: 90%;
  }

  .program h3 {
    font-size: 1.5rem;
    height: 3rem;
    margin-top: 1rem;
  }

  .event-fase {
    flex-direction: row;
    padding: 2rem 5rem;
    margin: 0;
  }

  .event-fase li {
    flex-direction: column;
    width: 20%;
    height: auto;
  }

  .event-fase img,
  .event-fase li span {
    width: auto;
    height: 20%;
    font-size: 1.5rem;
    justify-self: center;
  }

  .event-fase li p {
    width: 80%;
    height: 60%;
    font-size: 1rem;
    font-weight: 500;
  }

  .btn {
    display: none;
  }

  .btn-program {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    font-size: 1.5rem;
    font-family: var(--serif-font);
    font-weight: 700;
    color: #fff;
    text-decoration: underline;
  }

  .bands {
    height: 45rem;
    background-color: var(--d3d3d3);
    color: var(--sans-font);
    overflow: auto;
  }

  .bands h3 {
    text-align: center;
    width: 100%;
    height: 6rem;
  }

  .bands ul {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: 30rem;
    gap: 0.5rem;
  }

  .sponsors {
    width: 70%;
    height: 10rem;
  }
}
