* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

:root {
  --sans-font: "Kanit", "sans-serif";
  --serif-font: "Lato", "serif";
  --primary: #272a31;
  --secondary: #ec5242;
  --secondary-dark: #cc4030;
  --secondary-darker: #9e2a1d;
  --nutral: #d3d3d3;
  --nutral-darker: #999;
  --text-color: #5b5b5b;
}

.upper-menu {
  display: none;
}

.menu {
  display: flex;
  padding: 1rem 1.5rem;
}

.logo {
  display: none;
}

.menu__list {
  display: none;
}

.program {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  padding: 1rem;
  color: var(--sans-font);
}

.event-fase {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.event-fase li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 5rem;
  color: #fff;
  background-color: var(--text-color);
}

.event-fase li p {
  font-family: var(--serif-font);
  font-size: 0.75rem;
  font-weight: bold;
  margin: 0;
}

.event-fase li span {
  font-family: var(--serif-font);
  font-size: 1rem;
  font-weight: bold;
  color: var(--secondary-dark);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 4.5rem;
  color: #fff;
  background-color: var(--secondary-dark);
  margin: 2rem 0;
}

.bands {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--d3d3d3);
  color: var(--sans-font);
  padding: 1rem;
}

.bands ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.bands ul img {
  width: 32%;
  height: auto;
}

.bands ul div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 68%;
  padding: 0 1rem;
}

h3 {
  text-align: center;
  font-family: var(--serif-font);
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--primary);
  padding: 1rem;
  margin-bottom: 1rem;
}

h4 {
  font-family: var(--serif-font);
  font-size: 1rem;
  font-weight: bold;
  color: var(--primary);
}

h5 {
  font-family: var(--serif-font);
  font-size: 0.75rem;
  font-style: italic;
  color: var(--secondary);
}

h6 {
  font-family: var(--serif-font);
  font-size: 0.75rem;
  color: var(--primary);
  margin-top: 1rem;
}

.bands__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 100%;
  max-width: 35rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6rem;
    padding: 1rem 12rem;
  }

  .upper-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 1.5rem;
    background-color: var(--primary);
    padding-right: 8rem;
  }

  .upper-menu__icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 3rem;
    height: 1.5rem;
    margin-right: 1.5rem;
  }

  .upper-menu__icons a {
    display: flex;
    align-items: center;
    width: auto;
    color: #fff;
    font-size: 1rem;
    padding: 0 0.5rem;
  }

  .upper-menu__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 15rem;
    height: 1.5rem;
    margin-left: 1rem;
  }

  .upper-menu__links a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 7rem;
    color: #fff;
    font-size: 1rem;
  }

  .menu {
    display: none;
  }

  .logo {
    display: none;
  }

  .menu__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40rem;
    height: auto;
  }

  .menu__list-item {
    display: flex;
    align-items: center;
    transition: 0.7s ease;
    color: #fff;
    font-family: var(--serif-font);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
